body {
     /*Make sure to put parenthesis right next to url or it will not work.
     */
    background-image: url('unknown.png')

}

#headerimage {
    display: block;
    width: 612px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-child {
    margin: 30px;
    border: 5px solid saddlebrown;
}

.table {
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    color: rgb(145, 184, 78);
    margin: 5%;
    text-shadow: -1px 1px 2px #000,
                                1px 1px 2px #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;
}

.button {
    box-shadow: inset 0px 0px 40px 40px #1abb5d;
}
