body {
     /*Make sure to put parenthesis right next to url or it will not work.
     */
    background-image: url('floral-gift.jpg')

}

#headerimage {
    display: block;
    width: 612px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-child {
    margin: 30px;
    border: 1px solid saddlebrown;
}

.table {
    font-size: 30px;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
    color: darkolivegreen;
    margin: 5%;
    text-shadow: -1px 1px 2px #000,
                                1px 1px 2px #000,
                                1px -1px 0 #000,
                                -1px -1px 0 #000;
}

.button {
    background-color: darkseagreen;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: grabbing;
    box-shadow: inset 0px 0px 40px 40px #DBA632;


}